extends layouts/page.pug

block content
  .content-container
    h1 About me
    p
      | Since I can remember, I’ve always had an interest in discovering new things. This made me develop a love for art, which I followed during my school years. After school I wanted a change so I moved to the UK which was completely different to the lifestyle I grew up with.
      | I've had a love for tech from a young age and that interest lead to me taking the plunge to get into the industry. I’m surrounded
      strong by
      |  some excellent developers and by seeing what they do it encouraged me to try it out as well.
    section#ana.stripe
      .container
        .hexagon
        .fire
          .flame
          .flame
          .flame
          .flame
          .flame
          .flame
          .flame
          .flame
          .flame
          .flame
        .hair
        .face
          .eyes
          .nose
          .mouth
        .hair-front
        .neck
        .body
          .emblem
