extends layouts/page.pug

block content
  h1 Contact
  ul.social-media-links
    li
      a(href='https://www.linkedin.com/in/anagobarreto/')
        img(src='images/linkedin.png')
    li
      a(href='https://github.com/anagobarreto')
        img(src='images/github.png')
    li
      a(href='mailto:anacgbarreto@gmail.com')
        img(src='images/email.png')
