extends layouts/home.pug

block content
  img.logo(src='images/logo3.png', alt='logo')
  nav
    ul.nav-index
      include includes/nav-links.pug
  h2 My name is Ana Barreto
  h3  and I'm a junior fullstack developer
