extends layouts/page.pug

block content
  .wrapper
    .box
      .box-container
        img(src='images/Alphabook.jpg', alt='')
        a(href='projects/alphabook')
          | Alphabook
    .box
      .box-container
        img(src='images/Paws.jpg', alt='')
        a(href='projects/paws')
          | Paws & Play
    .box
      .box-container
        img(src='images/Novanoid.jpg', alt='')
        a(href='projects/novanoid')
          | Novanoid
    .box
      .box-container
        img(src='images/Orion.jpg', alt='')
        a(href='projects/orion')
          | Orion's Dungeon
    .box
      .box-container
        img(src='images/Daft.png', alt='')
        a(href='projects/daft')
          | Daft Punk Soundboard
    .box
      .box-container
        img(src='images/bikes.png', alt='')
        a(href='projects/bikes')
          | Santander cycles map
