extends ../layouts/page.pug

block content
  .content-container.project
    h1 Alphabook
    img.cover(src='../images/alphabooklogo.png')
    h4 HTML, CSS, React, create-react-app, Node.js, Express.js, MongoDB, Git
    p
      | This was my final project I decided to create a basic version of Facebook. I taught myself React by using it on this project and by following tutorials to complete the application. Before starting at GA I wanted to learn React so I found this a good opportunity to do so. I would say that this project was the most tricky and demanding of all of them, as I was learning a new framework. I had to pay attention to detail from the beginning. I managed to get a good “lite” version of Facebook with basic timeline and post features. I used create-react-app to develop the application which consumed a basic API made with Node.js, Express and MongoDB.
    .project-links
      a(href='https://radiant-falls-15689.herokuapp.com/', target='_blank')
        img(src='../images/live.png', alt='live')
        span Live Preview
      a(href='https://github.com/Anacgbarreto/wdi-project-4-api', target='_blank')
        img(src='../images/code.png', alt='code')
        span View Source
