extends ../layouts/page.pug

block content
  .content-container.project
    h1 Santander cycles map
    img.cover(src='../images/bikes.png')
    h4 HTML, CSS, Gulp, Express.js, Git
    p
      | This was another homework from the WDI course when learning to work with external APIs. In this case we had to use the TfL API and the Google Maps API.
    .project-links
      a(href='https://anagobarreto.github.io/santander-cycles-map/', target='_blank')
        img(src='../images/live.png', alt='live')
        span Live Preview
      a(href='https://github.com/Anacgbarreto/santander-cycles-map', target='_blank')
        img(src='../images/code.png', alt='code')
        span View Source
  
