extends ../layouts/page.pug

block content
  .content-container.project
    h1 Orion's Dungeon
    img.cover(src='../images/orionlogo.gif')
    h4 HTML, CSS, jQuery, git
    p
      | I decided to create a traditional roguelike game with pixel art graphics. Writing this game was a bit tricky in the beginning, once I got used to the logic it became fairly simple as I had to repeat most of it for the different scenarios. For the logic I used jQuery and stored state in the location of the tiles in the DOM. Used keyboard events for player movement and timers for random enemy movement and attack.
    .project-links
      a(href='https://orionsdungeon.herokuapp.com/', target='_blank')
        img(src='../images/live.png', alt='live')
        span Live Preview
      a(href='https://github.com/Anacgbarreto/wdi-project-1', target='_blank')
        img(src='../images/code.png', alt='code')
        span View Source
