extends ../layouts/page.pug

block content
  .content-container.project
    h1 Paws & Play
    img.cover(src='../images/pawslogo.gif')
    h4 HTML, CSS, AngularJS, Node.js, Express.js, MongoDB, JWT, Git, Gulp
    p
      | This was a group project. We decided to create a website to help people that have no time to walk their own dogs to find a walker. I had fun doing this project as a group as we got to discuss several ideas and work out which one everyone agreed on. It was nice dividing tasks amongst each other. We got to learn how to work with git on a codebase with multiple and work through merge conflicts. I was in charge of the landing page and it’s design. I enjoyed it as I was responsible for the first impression that the consumer would get, and I think that I managed to make it enticing and provide a good call to action.
    .project-links
      a(href='https://dogwalkingapp.herokuapp.com/', target='_blank')
        img(src='../images/live.png', alt='live')
        span Live Preview
      a(href='https://github.com/Anacgbarreto/paws-and-play', target='_blank')
        img(src='../images/code.png', alt='code')
        span View Source
